@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background-color: #fff7ed;
  margin: 0;
  padding: 0;
  color: #1e293b;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.input {
  width: 100%;
  border: 1px solid #fed7aa;
  padding: 12px 14px;
  border-radius: 12px;
  outline: none;
  background-color: white;
}

.input:focus {
  border-color: #fb923c;
  box-shadow: 0 0 0 2px rgba(251, 146, 60, 0.2);
}